


.icon{

    height: 10em;
    width: 10em;
    background-size: cover;
}

.pageComplete{
    
    background-color: rgb(69, 95, 100);
    height: 90vh;
    
}
.pageSkills{
    background-color: rgb(68, 105, 70);

}

.carre{
    height: 55px;
    width: 55px;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    transition-property: width;
    transition-duration: 2s;
    
}

.carre:hover{
    width: 70px;
    color: red;
    
}


.facebook{
    color: white;
    background-color:#3B5998;
    box-shadow: 10px 10px;
}
.linkedin{
    color: white;
    background-color: #0274B3 ;
    box-shadow: 10px 10px;
}
.mail{
    color: white;
    background-color:#1C9CEB ;
    box-shadow: 10px 10px;
}

.laDivDuNom{
    
   
    color: white;
    height: 65vh;
    
    
    
}
.rouge{
    color:white;
    font-size: 8em;
    
}
.vert{
    color: white;
    font-size: 5em;

}

.rouge:hover{
    color: red;

}
.vert:hover{
    color: green;

}
.image_projet{

    height: 100%;
    width: 100%;


}
.ombre{
    box-shadow: 10px 10px;


}

.ombrePetites{
    box-shadow: 3px 3px;

}
.arondi{
    

    border: 2px solid;
    padding: 10px;
    border-radius: 25px;

}
.imageArticles{
   background-size: cover;
   max-height: 500px;
   max-width: auto;

}

@import "../../../bootstrap/scss/bootstrap.scss";