{% extends 'baseDaschboard.html.twig' %}



{% block body %}
    <div class="container ">

        <div class="col-5 form m-4 rounded">
            <h2 class="text-center" style="font-style: italic; color: white">Update page</h2>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
