{% extends 'base.html.twig' %}

{% block body %}




<div class="jumbotron d-flex justify-content-around align-items-center" style="height:90vh;">

    {% for project in projects %}
            
    <div class="card" style="width:18rem;height:30rem">
            <img class="card-img-center m-2" src="{{ asset('uploads/images/'~project.image) }}" alt="">
        <div class="card-body">
            <p class="card-text">{{ project.name }}</p>
        </div>
    </div>

    {% endfor %}
   
</div>


{% endblock %}